body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(21,137,93);
    background: linear-gradient(0deg, rgba(21,137,93,1) 0%, rgba(15,199,116,1) 66%, rgba(94,241,111,1) 100%);
    color: #ffffff;
    transition: background-color .5s;
}

.profile-sekolah{
    padding: 30px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgba(12, 83, 42, 0.95); /* Hijau medium dengan transparansi */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-link {
    font-weight: 600;
    text-decoration: none;
    color: #d4f8d4; /* Hijau muda yang kontras */
    transition: background 0.3s, color 0.3s;
}

.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #b6ff99; /* Warna hijau lebih cerah */
}

.cover-section {
    background: url('gambar.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cover-section .btn{
    background-color: #00ff00;
    color: green;
    font-weight: 600;
}

.cover-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 102, 15, 0.6); /* Warna hijau transparan */
    z-index: 1;
}

.cover-section .container {
    z-index: 2;
    color: #f0fff0; /* Hijau yang sangat muda untuk kontras */
}

footer {
    background-color: #2e8b57; /* Hijau medium untuk harmoni dengan sidebar */
    color: #d4f8d4; /* Hijau muda untuk teks */
    padding: 10px;
    text-align: center;
}

.galeri h2{
    color: black;
}

#Kegiatan-img{
    max-width: 539px;
}
#openBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000; /* Menjaga agar tombol tetap di atas konten lain */
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}
